/* Global box-sizing for consistent border and padding management */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	background-color: #1F2424;
	color: #fff;
	font-family: "Fira Sans", sans-serif;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-shadow: 0 0 10px #fff;
	/* Glowing text effect */
}

/* Banner styles */
.banner {
	background-color: #375A7F;
	padding: 25px;
	text-align: center;
	width: 100%;
}

/* Container styles */
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	/* Add vertical space between banner and content below it and center horizontally */
	width: 100%;
}

/* Active tab styles */
.tab-title {
	text-align: center;
}

.tab-update-date {
	margin-bottom: 15px;
	/* Add vertical space between tab update date and content below it */
	text-align: center;
}

/* Table styles */
.castle-crashers-remastered-characters-table {
	border-collapse: collapse;
	margin-bottom: 50px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.castle-crashers-remastered-characters-table th {
	background-color: #141818;
	position: sticky;
	top: 0;
}

.castle-crashers-remastered-characters-table th,
.castle-crashers-remastered-characters-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.character-portrait {
	height: 67%;
	width: 67%;
}

.castle-crashers-remastered-weapons-table {
	border-collapse: collapse;
	margin-bottom: 50px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.castle-crashers-remastered-weapons-table th {
	background-color: #141818;
	position: sticky;
	top: 0;
}

.castle-crashers-remastered-weapons-table th,
.castle-crashers-remastered-weapons-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.castle-crashers-remastered-animal-orbs-table {
	border-collapse: collapse;
	margin-bottom: 50px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.castle-crashers-remastered-animal-orbs-table th {
	background-color: #141818;
	position: sticky;
	top: 0;
}

.castle-crashers-remastered-animal-orbs-table th,
.castle-crashers-remastered-animal-orbs-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

/* Tooltip cell styles */
.has-tooltip {
	position: relative;
}

.has-tooltip::after {
	content: "🟣";
	font-size: 12px;
	margin-left: 5px;
}

.has-tooltip:hover::after {
	content: "☑️";
}

/* Tab navigation container styles */
.tab-container {
	background-color: #1F2424;
	bottom: 0;
	display: flex;
	justify-content: center;
	padding: 10px;
	position: fixed;
	width: 100%;
}

/* Tab button styles */
.tab-button {
	background-color: #1F2424;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px;
}

.tab-button:hover {
	text-decoration: underline;
}

/* Tab content styles */
.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* Media queries */
/* Extra small device styles */
@media screen and (max-width: 575.98px) {
	.castle-crashers-remastered-weapons-table {
		font-size: 9px;
	}

	.weapon-image {
		height: 7.5%;
		width: 7.5%;
	}

	.castle-crashers-remastered-animal-orbs-table {
		font-size: 9px;
	}

	.animal-orb-image {
		height: 87.5%;
		width: 87.5%;
	}

	.has-tooltip::after {
		display: none;
	}

	.tab-button {
		font-size: 10px;
	}
}