/* Global box-sizing for consistent border and padding management */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	background-color: #1F2424;
	color: #fff;
	font-family: "Fira Sans", sans-serif;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-shadow: 0 0 10px #fff;
	/* Glowing text effect */
}

/* Banner styles */
.banner {
	background-color: #375A7F;
	padding: 25px;
	text-align: center;
	width: 100%;
}

/* Container styles */
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	/* Add vertical space between banner and content below it and center horizontally */
	width: 100%;
}

/* Active tab styles */
.tab-title {
	text-align: center;
}

.tab-update-date {
	text-align: center;
}

/* Grid styles */
.grid-container {
	display: grid;
	gap: 100px;
	grid-template-columns: repeat(3, 1fr);
	/* Create 3 columns, each taking up 1 fraction of available space */
	margin-bottom: 60px;
	/* Add vertical space between grid and tab navigation container */
	padding: 10px;
}

.grid-item {
	align-items: flex-end;
	/* Align items to end (bottom) of container */
	background-color: #181C1C;
	background-position: center;
	/* Center background image */
	background-size: cover;
	/* Ensure that background image covers entire grid item */
	box-shadow: 0 2px 7.5px rgba(255, 255, 255, 0.1);
	color: #fff;
	cursor: pointer;
	display: flex;
	height: 200px;
	justify-content: center;
	padding: 20px;
	text-align: center;
	transition: background 0.33s ease;
	/* Add transition for smooth transformation */
	width: 200px;
}

.grid-item:hover {
	background-color: rgba(0, 0, 0, 0.5);
}

/* Dim overlay styles */
.overlay {
	align-items: center;
	/* Vertically centers modal within overlay */
	background: rgba(0, 0, 0, 0.5);
	/* Dim background */
	display: none;
	height: 100%;
	justify-content: center;
	/* Horizontally centers modal within overlay */
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	/* Ensure that overlay sits above other elements */
}

/* Modal box styles */
.modal-box {
	background-color: #292929;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	display: none;
	left: 50%;
	max-width: 600px;
	/* Ensure that ".modal-box" will never be wider than 600 pixels */
	padding: 10px;
	position: fixed;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	/* Center modal with respect to left and top */
	width: 80%;
	z-index: 2;
	/* Ensure that modal box sits above both overlay and elements below overlay */
}

/* Modal box content styles */
.details-table {
	border-collapse: collapse;
	width: 100%;
}

.details-table th,
.details-table td {
	border: none;
	padding: 8px;
	text-align: center;
}

/* Modal box close button styles */
.close-button {
	color: #808080;
	cursor: pointer;
	font-size: 36px;
	position: absolute;
	right: 10px;
	top: -10px;
}

.close-button:hover {
    color: #fff;
}

/* Tab navigation container styles */
.tab-container {
	background-color: #1F2424;
	bottom: 0;
	display: flex;
	justify-content: center;
	padding: 10px;
	position: fixed;
	width: 100%;
}

/* Tab button styles */
.tab-button {
	background-color: #1F2424;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px;
}

.tab-button:hover {
	text-decoration: underline;
}

/* Tab content styles */
.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* Media queries */
/* Extra small device styles */
@media screen and (max-width: 575.98px) {
	.grid-container {
		gap: 40px;
		grid-template-columns: 1fr;
		/* Create 1 column that takes up entire available space */
		margin-bottom: 60px;
		/* Add vertical space between grid and tab navigation container */
	}

	.modal-title {
		font-size: 14px;
	}

	.modal-description {
		font-size: 11px;
	}

	.details-table {
		font-size: 8px;
	}

	.close-button {
		font-size: 24px;
		right: 5px;
		top: -5px;
	}
}

/* Small device styles */
@media screen and (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
	.grid-container {
		gap: 40px;
	}

	.grid-item {
		height: 160px;
		width: 160px;
	}

	.modal-box {
		max-height: 400px;
		/* Ensure that ".modal-box" will never be taller than 400 pixels */
	}

	.modal-title {
		font-size: 14px;
	}

	.modal-description {
		font-size: 9px;
	}

	.details-table {
		font-size: 9px;
	}
}

/* Medium device styles */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.grid-container {
		gap: 40px;
	}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
	.modal-box {
		max-height: 350px;
		/* Ensure that ".modal-box" will never be taller than 400 pixels */
	}

	.modal-title {
		font-size: 16px;
	}

	.modal-description {
		font-size: 11px;
	}

	.details-table {
		font-size: 11px;
	}
}