/* Global box-sizing for consistent border and padding management */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	background-color: #11141D;
	color: #fff;
	display: flex;
	flex-direction: column;
	font-family: Plus Jakarta Sans, sans-serif;
	min-height: 100vh;
	/* Ensure that body takes up full height of viewport */
}

a {
	color: #7FC3D9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h6 {
	font-weight: bold;
}

ul li {
	margin-bottom: 5px;
	/* Add vertical space between list items */
}

.nested-white-bullet {
	list-style: none;
	padding-left: 28.8px;
	/* Indent text associated with nested white bullet */
	position: relative;
}

.nested-white-bullet::before {
	content: "◦";
	left: 0;
	padding-left: 12.8px;
	/* Indent nested white bullet */
	position: absolute;
}

/* Wrapper for navbar and main content */
.wrapper {
	flex-grow: 1;
	/* Ensure that wrapper grows and takes up available space */
}

/* Container styles */
.container {
	margin: 0 auto;
	/* Center horizontally */
	max-width: 950px;
	/* Ensure that container will never be wider than 950 pixels */
}

.container.main-content {
	margin-top: 10px;
	/* Add vertical space between navbar and main content */
}

.container.main-content p {
	font-weight: 450;
}

/* Navbar styles */
.navbar {
	background-color: #181C24;
	border-bottom: 0.5px solid #2A2D3A;
}

.navbar .brand-name {
	font-size: 20px;
}

.navbar .brand-name:hover {
	color: #fff;
}

.navbar a {
	font-weight: 500;
}

.nav-link:hover {
	color: #7FC3D9;
	text-decoration: none;
}

.navbar ul li {
	margin-bottom: 0;
}

/* Tab styles */
.tabs {
	font-size: 14px;
	margin-top: 20px;
	/* Add vertical space between selected project heading and tabs */
}

.tab-titles {
	align-items: center;
	display: flex;
	justify-content: center;
}

.tab {
	background-color: #181C24;
	border: 1px solid #2A2D3A;
	color: #fff;
	cursor: pointer;
	font-weight: 500;
	padding: 5px 10px;
	transition: background-color 0.3s;
}

.tab:hover {
	background-color: #20262E;
}

.tab.active {
	background-color: #1C212F;
}

.tab-content {
	margin-top: 10px;
	/* Add vertical space between tabs and tab content */
}

.tab-pane {
	display: none;
}

.tab-pane.active {
	display: block;
}

/* Notes button styles */
.notes-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

.notes-btn {
	background-color: #181C24;
	border: 1px solid #2A2D3A;
	color: #fff;
	cursor: pointer;
	display: block;
	font-weight: 500;
	font-size: 16px;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 10px;
	/* Add vertical space between notes button and content below it */
	padding: 5px 10px;
	transition: background-color 0.3s;
}

.notes-btn:hover {
	background-color: #20262E;
}

.notes-btn.active {
	background-color: #1C212F;
}

.notes-text {
	border: 1px solid #2A2D3A;
	display: none;
	font-size: 16px;
	margin-bottom: 10px;
	/* Add vertical space between notes text and content below it */
	padding: 10px;
}

/* Grid styles */
.grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.grid h5 {
	text-align: center;
}

.grid-item {
	background-color: #181C24;
	border: 0.5px solid #2A2D3A;
	border-radius: 8px;
	overflow: auto;
	padding: 15px;
	position: relative;
	word-wrap: break-word;
	white-space: normal;
}

.info-container {
	font-size: 14px;
	text-align: center;
}

.probability-high {
	border: 1px solid #2E8B57;
}

.probability-medium-high {
	border: 1px solid #A3D900;
}

.probability-medium-low {
	border: 1px solid #FFA500;
}

.probability-low {
	border: 1px solid #FF6347;
}

.brawlhalla-level-data-image-container {
	background-position: center;
	background-size: cover;
	height: 150px;
	margin-bottom: 10px;
	/* Add vertical space between image container and info container */
}

.dead-by-daylight-character-and-map-data-character-image-container {
	background-position: center;
	background-size: cover;
	height: 150px;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 10px;
	/* Add vertical spacee between image container and info container */
	width: 150px;
}

.dead-by-daylight-character-and-map-data-map-grid {
	grid-template-columns: repeat(2, 1fr);
}

.dead-by-daylight-character-and-map-data-map-image-container {
	background-position: center;
	background-size: cover;
	height: 150px;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 10px;
	/* Add vertical spacee between image container and info container */
	width: 225px;
}

/* Tooltip styles */
.has-tooltip {
	position: relative;
}

.has-tooltip::after {
	content: "🟣";
	font-size: 12px;
	margin-left: 5px;
	/* Add horizontal space between header cell text and tooltip symbol */
}

.has-tooltip:hover::after {
	content: "☑️";
}

/* Code block styles */
pre,
code {
	font-family: 'JetBrains Mono', monospace;
}

pre {
	background-color: #181C24;
	border: 1px solid #636363;
	border-radius: 8px;
	color: #fff;
	font-size: 14px;
	margin: 10px 0;
	overflow-x: auto;
	padding: 10px;
	white-space: pre-wrap;
	/* Ensure that long lines wrap */
}

code {
	border: 1px solid #636363;
	padding: 2px 2px;
}

.codebox-1 {
	border: 1px solid #4DA8DA;
	color: #D63384;
	font-family: 'JetBrains Mono', monospace;
	font-size: 87.5%;
	padding: 2px 2px;
}

.codebox-2 {
	border: 1px solid #FF7F50;
	color: #D63384;
	font-family: 'JetBrains Mono', monospace;
	font-size: 87.5%;
	padding: 2px 2px;
}

/* Index webpage and posts subpages */
.post-block {
	background-color: #181C24;
	border: 1px solid #2A2D3A;
	border-radius: 8px;
	margin-bottom: 20px;
	/* Add vertical space between posts */
	padding: 15px;
}

.post-title {
	color: #fff;
}

.post-title h5 {
	margin-bottom: 5px;
	/* Add vertical space between post title and content below it */
}

.post-dates {
	color: #A7C6ED;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.post-dates p {
	margin: 0;
}

.post-description {
	color: #ddd;
	font-size: 16px;
	margin-top: 10px;
	/* Add vertical space between post dates and post description */
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-cross-character-mmr-scaling-mechanism-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-cross-character-mmr-scaling-mechanism-table th {
	background-color: #181C24;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-cross-character-mmr-scaling-mechanism-table th,
.understanding-skill-based-matchmaking-in-dead-by-daylight-cross-character-mmr-scaling-mechanism-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
	height: 33%;
	width: 33%;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-survivors-pre {
	background-color: #1E1E1E;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-survivors-quantile-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-survivors-quantile-table th {
	background-color: #181C24;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-survivors-quantile-table th,
.understanding-skill-based-matchmaking-in-dead-by-daylight-survivors-quantile-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-killers-pre {
	background-color: #1E1E1E;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-killers-quantile-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-killers-quantile-table th {
	background-color: #181C24;
}

.understanding-skill-based-matchmaking-in-dead-by-daylight-killers-quantile-table th,
.understanding-skill-based-matchmaking-in-dead-by-daylight-killers-quantile-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.decrypting-brawlhalla-swz-files-xor-cipher-well512-prng-combined-approach-pre {
	background-color: #1E1E1E;
}

.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table th {
	background-color: #181C24;
}

.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table th,
.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table th {
	background-color: #181C24;
}

.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table th,
.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.random-number-generation-in-warframe-rarity-weights-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.random-number-generation-in-warframe-rarity-weights-table th {
	background-color: #181C24;
}

.random-number-generation-in-warframe-rarity-weights-table th,
.random-number-generation-in-warframe-rarity-weights-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.random-number-generation-in-warframe-bias-specter-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.random-number-generation-in-warframe-bias-specter-table th {
	background-color: #181C24;
}

.random-number-generation-in-warframe-bias-specter-table th,
.random-number-generation-in-warframe-bias-specter-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.random-number-generation-in-warframe-reward-seed-generator-pre {
	background-color: #1E1E1E;
}

.random-number-generation-in-warframe-weighted-random-number-generator-pre {
	background-color: #1E1E1E;
}

/* Projects webpage and subpages */
.project-block {
	background-color: #181C24;
	border: 1px solid #2A2D3A;
	border-radius: 8px;
	margin-bottom: 20px;
	/* Add vertical space between projects */
	padding: 15px;
}

.project-title {
	color: #fff;
}

.project-title h6 {
	margin-bottom: 5px;
	/* Add vertical space between project title and content below it */
}

.project-date {
	color: #A7C6ED;
	display: flex;
	flex-direction: column;
	font-size: 14px;
}

.project-description {
	color: #ddd;
	font-size: 16px;
	margin-top: 10px;
	/* Add vertical space between project date and project description */
}

.selected-project-heading {
	text-align: center;
}

.brawlhalla-level-data-grid-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.brawlhalla-level-data-grid-table th {
	background-color: #181C24;
	top: 0;
}

.brawlhalla-level-data-grid-table th,
.brawlhalla-level-data-grid-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.brawlhalla-strength-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.brawlhalla-strength-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.brawlhalla-strength-table th,
.brawlhalla-strength-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.brawlhalla-dexterity-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.brawlhalla-dexterity-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.brawlhalla-dexterity-table th,
.brawlhalla-dexterity-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.brawlhalla-defense-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.brawlhalla-defense-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.brawlhalla-defense-table th,
.brawlhalla-defense-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.brawlhalla-speed-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.brawlhalla-speed-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.brawlhalla-speed-table th,
.brawlhalla-speed-table td {
	border: 0.5px solid #ddd;
	padding: 5px;
}

.castle-crashers-remastered-characters-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.castle-crashers-remastered-characters-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.castle-crashers-remastered-characters-table th,
.castle-crashers-remastered-characters-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.castle-crashers-remastered-character-portrait {
	height: 67%;
	width: 67%;
}

.castle-crashers-remastered-weapons-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.castle-crashers-remastered-weapons-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.castle-crashers-remastered-weapons-table th,
.castle-crashers-remastered-weapons-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.castle-crashers-remastered-animal-orbs-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.castle-crashers-remastered-animal-orbs-table th {
	background-color: #181C24;
	position: sticky;
	top: 0;
}

.castle-crashers-remastered-animal-orbs-table th,
.castle-crashers-remastered-animal-orbs-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.dead-by-daylight-bloodweb-data-tab-content-heading {
	text-align: center;
}

.dead-by-daylight-bloodweb-data-tab-content-subheading {
	text-align: center;
}

.dead-by-daylight-bloodweb-progression-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 20px;
	/* Add vertical space between table and heading below it */
	margin-top: 12.5px;
	/* Add vertical space between table and heading above it */
	text-align: center;
}

.dead-by-daylight-bloodweb-progression-table th {
	background-color: #181C24;
	top: 0;
}

.dead-by-daylight-bloodweb-progression-table th,
.dead-by-daylight-bloodweb-progression-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.dead-by-daylight-content-distribution-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 20px;
	/* Add vertical space between table and heading below it */
	margin-top: 12.5px;
	/* Add vertical space between table and heading above it */
	text-align: center;
}

.dead-by-daylight-content-distribution-table th {
	background-color: #181C24;
	top: 0;
}

.dead-by-daylight-content-distribution-table th,
.dead-by-daylight-content-distribution-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.dead-by-daylight-prestige-modifiers-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 20px;
	/* Add vertical space between table and heading below it */
	margin-top: 12.5px;
	/* Add vertical space between table and heading above it */
	text-align: center;
}

.dead-by-daylight-prestige-modifiers-table th {
	background-color: #181C24;
	top: 0;
}

.dead-by-daylight-prestige-modifiers-table th,
.dead-by-daylight-prestige-modifiers-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.dead-by-daylight-mystery-box-probabilities-table {
	border-collapse: collapse;
	margin: 0 auto;
	/* Center horizontally */
	margin-bottom: 20px;
	/* Add vertical space between table and heading below it */
	margin-top: 12.5px;
	/* Add vertical space between table and heading above it */
	text-align: center;
}

.dead-by-daylight-mystery-box-probabilities-table th {
	background-color: #181C24;
	top: 0;
}

.dead-by-daylight-mystery-box-probabilities-table th,
.dead-by-daylight-mystery-box-probabilities-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.dead-by-daylight-character-and-map-data-character-grid-table {
	border-collapse: collapse;
	font-size: 13px;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.dead-by-daylight-character-and-map-data-character-grid-table th {
	background-color: #181C24;
	top: 0;
}

.dead-by-daylight-character-and-map-data-character-grid-table th,
.dead-by-daylight-character-and-map-data-character-grid-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

.dead-by-daylight-character-and-map-data-map-grid-table {
	border-collapse: collapse;
	font-size: 11.5px;
	margin: 0 auto;
	/* Center horizontally */
	text-align: center;
}

.dead-by-daylight-character-and-map-data-map-grid-table th {
	background-color: #181C24;
	top: 0;
}

.dead-by-daylight-character-and-map-data-map-grid-table th,
.dead-by-daylight-character-and-map-data-map-grid-table td {
	border: 0.5px solid #ddd;
	padding: 10px;
}

/* C++ syntax highlighting styles */
.cpp-comment {
	color: #505D84;
}

.cpp-data-type {
	color: #7ACCDC;
	font-style: italic;
}

.cpp-keyword {
	color: #E86FB4;
}

.cpp-library-header {
	color: #A984DE;
}

.cpp-preprocessor-directive {
	color: #E86FB4;
}

.cpp-string {
	color: #CFD779;
}

.cpp-value {
	color: #A984DE;
}

/* R syntax highlighting styles */
.r-comment {
	color: #75715E;
	font-style: italic;
}

.r-number {
	color: #AE81FF;
}

.r-string {
	color: #A6E22E;
}

.r-vector {
	color: #66D9EF;
}

/* Footer styles */
.footer {
	font-size: 14px;
	margin-top: 20px;
	/* Add vertical space between main content and footer */
	text-align: center;
}

/* Media queries */
/* Extra small device styless */
@media screen and (max-width: 575.98px) {
	.tabs {
		font-size: 11px;
	}

	.has-tooltip::after {
		display: none;
	}

	.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
		height: 100%;
		width: 100%;
	}

	.decrypting-brawlhalla-swz-files-file-structure-pre {
		font-size: 10px;
	}

	.decrypting-brawlhalla-swz-files-xor-cipher-well512-prng-combined-approach-pre {
		font-size: 6px;
	}

	.random-number-generation-in-warframe-item-drop-chance-formula-exercise-1-pre {
		font-size: 10.5px;
	}

	.random-number-generation-in-warframe-normalization-exercise-1-pre {
		font-size: 8px;
	}

	.random-number-generation-in-warframe-reward-seed-generator-pre {
		font-size: 5px;
	}

	.random-number-generation-in-warframe-weighted-random-number-generator-pre {
		font-size: 4.5px;
	}

	.random-number-generation-in-warframe-bias-specter-table {
		font-size: 9px;
	}

	.brawlhalla-dexterity-table {
		font-size: 8px;
	}

	.brawlhalla-speed-table {
		font-size: 4.25px;
	}

	.castle-crashers-remastered-weapons-table {
		font-size: 11.5px;
	}

	.castle-crashers-remastered-weapon-image {
		height: 30%;
		width: 30%;
	}

	.castle-crashers-remastered-animal-orbs-table {
		font-size: 8.5px;
	}

	.castle-crashers-remastered-animal-orb-image {
		height: 70%;
		width: 70%;
	}

	.dead-by-daylight-bloodweb-progression-table {
		font-size: 10px;
	}

	.dead-by-daylight-content-distribution-table {
		font-size: 10px;
	}

	.dead-by-daylight-prestige-modifiers-table {
		font-size: 10px;
	}

	.dead-by-daylight-mystery-box-probabilities-table {
		font-size: 10px;
	}

	.dead-by-daylight-character-and-map-data-map-grid {
		grid-template-columns: repeat(1, 1fr);
	}

	.dead-by-daylight-character-and-map-data-map-grid-table {
		font-size: 6px;
	}
}

/* Small device styles */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.has-tooltip::after {
		display: none;
	}
}

@media screen and (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
	.has-tooltip::after {
		display: none;
	}

	.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
		height: 100%;
		width: 50%;
	}

	.brawlhalla-speed-table {
		font-size: 11px;
	}

	.dead-by-daylight-character-and-map-data-map-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Medium device styles */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.has-tooltip::after {
		display: none;
	}

	.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
		height: 100%;
		width: 50%;
	}

	.brawlhalla-speed-table {
		font-size: 13px;
	}

	.dead-by-daylight-character-and-map-data-character-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.dead-by-daylight-character-and-map-data-map-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
	.has-tooltip::after {
		display: none;
	}

	.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
		height: 100%;
		width: 50%;
	}

	.dead-by-daylight-character-and-map-data-character-grid {
		grid-template-columns: repeat(2, 1fr);
	}

	.dead-by-daylight-character-and-map-data-map-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Large device styles */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.has-tooltip::after {
		display: none;
	}

	.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
		height: 100%;
		width: 50%;
	}

	.dead-by-daylight-character-and-map-data-character-grid-table {
		font-size: 12px;
	}

	.dead-by-daylight-character-and-map-data-map-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}

/* Extra large device styles */
@media screen and (min-width: 1200px) and (max-width: 1399.98px) {
	.has-tooltip::after {
		display: none;
	}

	.understanding-skill-based-matchmaking-in-dead-by-daylight-img-cdf-mmrs {
		height: 100%;
		width: 50%;
	}

	.dead-by-daylight-character-and-map-data-map-grid {
		grid-template-columns: repeat(1, 1fr);
	}
}