/* Global box-sizing for consistent border and padding management */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	background-color: #1A1C23;
	color: #fff;
	font-family: "Fira Sans", sans-serif;
	padding-top: 4.5rem;
	/* Add top padding to account for fixed navbar */
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-shadow: 0 0 10px #fff;
	/* Glowing text effect */
}

h2 {
	margin-bottom: 20px;
	/* Add vertical space between heading and content below it */
	text-align: center;
}

.indented {
	margin-left: 1.2em;
	/* Add horizontal space between container and content within it */
}

/* Container styles */
.container {
	margin: 0 auto;
	/* Center horizontally */
	max-width: 650px;
	/* Ensure that ".container" will never be wider than 650 pixels */
}

/* Navbar styles */
.navbar {
	align-items: center;
	background-color: #15171E;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	/* Add vertical space between navbar and content below it */
	padding: 5px;
	width: 100%;
}

.navbar a {
	color: #fff;
	display: block;
	font-size: 17px;
	padding: 10px 7.5px;
	text-decoration: none;
}

.navbar a:hover {
	color: #fff;
	text-shadow: 0 0 10px #fff;
	/* Glowing text effect */
}

/* Achievement box styles */
.achievement-box {
	background-color: #2A2D32;
	border: 1px solid #636363;
	border-radius: 8px;
	margin: 10px 0;
	padding: 10px;
}

.achievement-title {
	font-size: 24px;
	font-style: italic;
	margin: 0;
	text-align: center;
}

.achievement-content {
	font-size: 16px;
	margin-top: 10px;
	/* Add vertical space between achievement content and content above it */
	text-align: center;
}

/* Post styles */
.post-container {
	margin: 0 auto;
	/* Center horizontally */
	max-width: 550px;
	/* Ensure that ".post-container" will never be wider than 550 pixels */
}

.post-title {
	margin-bottom: 5px;
	/* Add vertical space between post title and content below it */
	text-align: left;
}

.post-date {
	margin-bottom: 5px;
	/* Add vertical space between post date and content below it */
	text-align: left;
}

/* Code block styles */
pre {
	background-color: #2A2D32;
	border: 1px solid #636363;
	border-radius: 8px;
	color: #fff;
	font-family: "Fira Code", "Courier New", Courier, monospace;
	font-size: 14px;
	margin: 10px 0;
	overflow-x: auto;
	padding: 10px;
	white-space: pre-wrap;
	/* Ensure that long lines wrap */
}

code {
	border: 1px solid #636363;
	padding: 2px 2px;
}

.codebox-1 {
	border: 1px solid #4DA8DA;
	color: #D63384;
	font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 87.5%;  
	padding: 2px 2px;
}

.codebox-2 {
	border: 1px solid #FF7F50;
	color: #D63384;
	font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 87.5%;  
	padding: 2px 2px;
}

.rng-warframe-normalization-exercise-1-pre {
	font-size: 13px;
}

.rng-warframe-reward-seed-generator-pre {
	background-color: #1E1E1E;
	color: #fff;
	font-size: 8px;
}

.rng-warframe-weighted-random-number-generator-pre {
	background-color: #1E1E1E;
	color: #fff;
	font-size: 7px;
}

.decrypting-brawlhalla-swz-files-xor-cipher-well512-prng-combined-approach-pre {
	background-color: #1E1E1E;
	color: #fff;
	font-size: 8px;
}

/* Table styles */
.rng-warframe-rarity-weights-table {
	border-collapse: collapse;
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.rng-warframe-rarity-weights-table th {
	background-color: #141818;
}

.rng-warframe-rarity-weights-table th,
.rng-warframe-rarity-weights-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.rng-warframe-bias-specter-table {
	border-collapse: collapse;
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.rng-warframe-bias-specter-table th {
	background-color: #141818;
}

.rng-warframe-bias-specter-table th,
.rng-warframe-bias-specter-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.void-relic-rarity-weights-table {
	border-collapse: collapse;
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.void-relic-rarity-weights-table th {
	background-color: #141818;
}

.void-relic-rarity-weights-table th,
.void-relic-rarity-weights-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.void-relic-rarity-weights-table-exceptional-data-cell {
	max-width: 90px;
	overflow: hidden;
}

.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table {
	border-collapse: collapse;
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table th {
	background-color: #141818;
}

.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table th,
.modding-castle-crashers-remastered-using-cheat-engine-level-unlocks-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table {
	border-collapse: collapse;
	margin-bottom: 15px;
	/* Add vertical space between table and content below it */
	text-align: center;
	width: 100%;
}

.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table th {
	background-color: #141818;
}

.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table th,
.modding-castle-crashers-remastered-using-cheat-engine-relic-unlocks-table td {
	border: 1px solid #ddd;
	padding: 10px;
}

/* C++ syntax highlighting styles */
.cpp-comment {
	color: #505D84;
}

.cpp-data-type {
	color: #7ACCDC;
	font-style: italic;
}

.cpp-keyword {
	color: #E86FB4;
}

.cpp-library-header {
	color: #A984DE;
}

.cpp-preprocessor-directive {
	color: #E86FB4;
}

.cpp-string {
	color: #CFD779;
}

.cpp-value {
	color: #A984DE;
}

/* Footer styles */
.footer {
	font-size: 12px;
	text-align: center;
}

/* Media queries */
/* Extra small device styles */
@media screen and (max-width: 575.98px) {
	.achievements-h2 {
		margin-bottom: 10px;
		/* Add vertical space between heading and content below it */
	}

	.software-h2 {
		margin-bottom: 10px;
		/* Add vertical space between heading and content below it */
		text-align: left;
	}

	.resources-h2 {
		margin-bottom: 10px;
		/* Add vertical space between heading and content below it */
		text-align: left;
	}

	.rng-warframe-item-drop-chance-formula-exercise-1-pre {
		font-size: 10.5px;
	}

	.rng-warframe-normalization-exercise-1-pre {
		font-size: 8px;
	}

	.rng-warframe-reward-seed-generator-pre {
		font-size: 5px;
	}

	.rng-warframe-weighted-random-number-generator-pre {
		font-size: 4.5px;
	}

	.decrypting-brawlhalla-swz-files-file-structure-pre {
		font-size: 10px;
	}

	.decrypting-brawlhalla-swz-files-xor-cipher-well512-prng-combined-approach-pre {
		font-size: 5px;
	}

	.rng-warframe-bias-specter-table {
		font-size: 9px;
	}

	.void-relic-rarity-weights-table {
		font-size: 12px;
	}

	.void-relic-rarity-weights-table-exceptional-data-cell {
		font-size: 9px;
	}
}