/* Global box-sizing for consistent border and padding management */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Body styles */
body {
	background-color: #1F2424;
	color: #fff;
	font-family: "Fira Sans", sans-serif;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-shadow: 0 0 10px #fff;
	/* Glowing text effect */
}

/* Banner styles */
.banner {
	background-color: #375A7F;
	padding: 25px;
	text-align: center;
	width: 100%;
}

/* Container styles */
.container {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 20px auto;
	/* Add vertical space between banner and content below it and center horizontally */
	width: 100%;
}

/* Active tab styles */
.tab-title {
	margin-bottom: 15px;
	/* Add vertical space between tab title and content below it */
	text-align: center;
}

/* Table styles */
.secret-hitler-player-probabilities-table {
	border-collapse: collapse;
	text-align: center;
	width: 100%;
}

.secret-hitler-player-probabilities-table th {
	background-color: #141818;
	position: sticky;
	top: 0;
}

.secret-hitler-player-probabilities-table th,
.secret-hitler-player-probabilities-table td {
	border: 1px solid #ddd;
	padding: 15px;
}

.secret-hitler-policy-card-draw-probabilities-table {
	border-collapse: collapse;
	margin-bottom: 50px;
	/* Add vertical space between table and tab navigation container */
	text-align: center;
	width: 100%;
}

.secret-hitler-policy-card-draw-probabilities-table th {
	background-color: #141818;
	position: sticky;
	top: 0;
}

.secret-hitler-policy-card-draw-probabilities-table th,
.secret-hitler-policy-card-draw-probabilities-table td {
	border: 1px solid #ddd;
	padding: 15px;
}

/* Tooltip cell styles */
.has-tooltip {
	position: relative;
}

.has-tooltip::after {
	content: "🟣";
	font-size: 12px;
	margin-left: 5px;
}

.has-tooltip:hover::after {
	content: "☑️";
}

/* Tab navigation container styles */
.tab-container {
	background-color: #1F2424;
	bottom: 0;
	display: flex;
	justify-content: center;
	padding: 10px;
	position: fixed;
	width: 100%;
}

/* Tab button styles */
.tab-button {
	background-color: #1F2424;
	border: none;
	color: #fff;
	cursor: pointer;
	padding: 10px 20px;
}

.tab-button:hover {
	text-decoration: underline;
}

/* Tab content styles */
.tab-content {
	display: none;
}

.tab-content.active {
	display: block;
}

/* Media queries */
/* Extra small device styles */
@media screen and (max-width: 575.98px) {
	.secret-hitler-player-probabilities-table {
		font-size: 9px;
	}

	.secret-hitler-player-probabilities-table th,
	.secret-hitler-player-probabilities-table td {
		padding: 5px;
	}

	.secret-hitler-policy-card-draw-probabilities-table {
		font-size: 7px;
		margin-bottom: 75px;
		/* Add vertical space between table and tab navigation container */
	}

	.secret-hitler-policy-card-draw-probabilities-table th,
	.secret-hitler-policy-card-draw-probabilities-table td {
		padding: 5px;
	}

	.has-tooltip::after {
		display: none;
	}

	.tab-button {
		font-size: 12px;
	}
}

/* Small device styles */
@media screen and (min-width: 576px) and (max-width: 767.98px) {

	.secret-hitler-player-probabilities-table th,
	.secret-hitler-player-probabilities-table td {
		padding: 5px;
	}

	.secret-hitler-policy-card-draw-probabilities-table {
		font-size: 14px;
	}

	.secret-hitler-policy-card-draw-probabilities-table th,
	.secret-hitler-policy-card-draw-probabilities-table td {
		padding: 5px;
	}

	.has-tooltip::after {
		display: none;
	}

	.tab-button {
		font-size: 12px;
	}
}

@media screen and (min-width: 576px) and (max-width: 767.98px) and (orientation: landscape) {
	.banner {
		display: none;
	}

	.secret-hitler-player-probabilities-table {
		font-size: 6px;
	}
}


/* Medium device styles */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.secret-hitler-policy-card-draw-probabilities-table {
		font-size: 13px;
	}

	.has-tooltip::after {
		display: none;
	}
}

@media screen and (min-width: 768px) and (max-width: 991.98px) and (orientation: landscape) {
	.banner {
		display: none;
	}

	.secret-hitler-player-probabilities-table {
		font-size: 7px;
	}

	.tab-button {
		padding: 0px 20px;
	}
}

/* Large device styles */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {

	.secret-hitler-player-probabilities-table th,
	.secret-hitler-player-probabilities-table td {
		padding: 11px;
	}
}